.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: coral;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: 0 auto;
}

.hero img {
  margin-top: 20vh;
  height: auto;
  width: 120px;
}

.hero p {
  margin: 10% 0;
  height: auto;
  width: auto;
  color: #FFF;
}

/* Tablet and desktop styling  */
@media only screen and (min-width: 768px) {
  /* Write Tablet only CSS here */
  main {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
  }

  .hero {
    position: sticky;
    top: 100px;
    flex: 1;
    margin: 7vh 5vw;
    padding-top: 0vh;
    max-width: 33vw;
  }

  .hero img {
    margin-top: 15%;
    max-height: 33%;
  }
  
  .hero p {
    margin-top: 0;
  }
  .tweets {
    min-width: 300px;
    flex: 2;
  }
}

