nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  height: 60px;
  width: 100%;
  font-family: 'Bungee', cursive;
}

@media only screen and (max-width: 420px) {
  nav {
    background-color: rgba(0 0 0 0);
  }
}

@media only screen and (min-width: 421px) {
  nav {
    background-color:#4056A1;
  }
}

 .logo {
  color: #FFF;
 }

 #new-tweet-btn {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
 }

 #new-tweet-btn > p {
  margin: 0;
  color: #FFF;
 }

 .fa-angles-down {
  color: red;
 }


.fa-angles-down:hover {
  transform: scale(1.5);
}

.fa-angles-down:active {
  color: white;
}