section {
  display: flex;
  flex-flow: column;
  margin: 50px 0px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.new-tweet textarea {
  width: 100%;
  min-height: 1.5em;
  background: none;
  border: none;
  border-bottom: 2px solid black;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}
.new-tweet button {
  background-color: #4056A1;
  color: #FFF;
  border: none;
}
.new-tweet button:hover {
  transition: 100ms;
  box-shadow: 3px 3px lightblue;
}
.new-tweet button:active {
  background-color: #1f3068;
  box-shadow: 3px 3px lightcyan;
}

.new-tweet output.negative {
  color: red;
}

.warning {
  display: none;
  border: 2px solid red;
  color: red;
  text-align: center;
}

.transition {
  display: none;
  transition: 1s;
}