section {
  display: flex;
  flex-flow: column;
  margin: 50px 0px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.new-tweet textarea {
  width: 100%;
  min-height: 1.5em;
  background: none;
  border: none;
  border-bottom: 2px solid black;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}
.new-tweet button {
  background-color: #4056A1;
  color: #FFF;
}