section.tweet-log {
  min-width: 300px;
}

article.tweet {
  display: flex;
  flex-flow: column;
  padding: 10px;
  border: 2px solid black;
  margin: 0 0 50px 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
article.tweet:hover {
  transition: 200ms;
  box-shadow: 5px 5px lightblue;
}

article.tweet header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

article.tweet div.user {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  min-width: 100px;
  height: auto;
}

article.tweet img {
  display: inline;
  height: 40px;
  width: 40px;
  margin: 0;
}

article.tweet .user-name {
  display: inline;
  margin: 0 0 0 10px;
}

article.tweet .user-handle {
  margin: 0;
}

article.tweet > p {
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9em;
  
}

article.tweet footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 2px solid black;
  width: 100%;
  height: 50px;
}

article.tweet footer div {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5%;
}

article.tweet footer p {
  font-size: 16px;
}

article.tweet footer i {
  color: #4056A1;
  margin: 0 10%;
}

article.tweet footer i:hover {
  color: red;
  transition: 100ms;
}
